body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.chat {
  position: fixed;
  right: 3rem;
  bottom: 10rem;
  display: none;
}
.chat .chat-cont {
  overflow: hidden;
  box-shadow: 0px 0px 10px gainsboro;
  border-radius: 20px;
  position: relative;
  width: 450px;
  background-color: rgba(220, 220, 220, 0.183);
}
.chat .chat-cont .chat-top {
  font-size: 17px;
  text-align: left;
  padding: 8px 18px;
  background-color: #08826d;
  color: white;
}
.chat .chat-cont .chat-body {
  height: 210px;
  overflow: auto;
  padding: 15px 20px 20px;
  position: relative;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}
.chat .chat-cont .chat-body .chat-query {
  width: 60%;
  height: 34px;
  padding: 3px 0;
}
.chat .chat-cont .chat-body .chat-query .chat-query-text {
  background-color: #d3ffc8;
  position: absolute;
  right: 20px;
  padding: 8px 10px;
  border-radius: 10px 10px 0 8px;
  animation: bounce-in-bottom 0.4s both;
  text-wrap: pretty;
}
@keyframes bounce-in-bottom {
  0% {
    transform: translateY(20px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(5px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(2px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}
.chat .chat-cont .chat-body .chat-response {
  background-color: rgba(220, 220, 220, 0.183);
  width: 60%;
  border-radius: 10px 10px 8px 0px;
  padding: 7px;
  margin: 9px 0 4px;
  animation: bounce-in-bottom 0.4s both;
}
.chat .chat-cont .chat-body .chat-response .chat-text {
  text-wrap: pretty;
}
.chat .chat-cont .chat-body .chat-response .chat-options {
  margin: 10px 0 3px;
}
.chat .chat-cont .chat-body .chat-response .chat-options .chat-option {
  background-color: white;
  box-shadow: 0 0 3px rgba(220, 220, 220, 0.717);
  width: 80%;
  padding: 3px 8px;
  font-size: 14px;
  border-radius: 4px;
  margin: 5px 0;
}
@keyframes bounce-in-bottom {
  0% {
    transform: translateY(20px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(5px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(2px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}
.chat .chat-cont .chat-input {
  display: flex;
  width: 90%;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 20px;
  gap: 5px;
}
.chat .chat-cont .chat-input input {
  border: none;
  flex: auto;
  background-color: white;
  border-radius: 25px;
  border: 1px solid gainsboro;
  padding: 5px 10px;
  color: #000000;
}
.chat .chat-cont .chat-input input:focus-visible {
  outline: rgba(0, 0, 0, 0.2392156863) 1px solid;
}
.chat .chat-cont .chat-input .send-btn {
  background-color: #25d366;
  padding: 9px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}
.chat .chat-cont .chat-input .send-btn i.ti.ti-send {
  color: white;
  font-size: 18px;
}

.chat-open-btn {
  position: fixed;
  right: 5rem;
  bottom: 5rem;
  font-size: 2rem;
  color: white;
  background-color: #25d366;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}
.active {
  display: block;
  scale: 1;
}/*# sourceMappingURL=Chat.css.map */